<div class="modal-body" style="padding-bottom: 1px;">
    <div class="form-group">
        <label for="ad">Adı:</label>
        <input type="text" id="name" name="name" class="form-control" #name required placeholder="Plaka veya Makineye verilen ad">
    </div>
    <div class="form-group">
        <label for="brandName">Marka:</label>
        <select id="brandName" name="brandName" class="form-select" #brandName (change)="onBrandChange(brandName.value)" required >
            <option value="" disabled selected>Marka Seçiniz</option>
            <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="machineTypeName">Makina Tipi:</label>
        <select id="machineTypeName" name="machineTypeName" class="form-select" #machineTypeName required >
            <option value="" disabled selected>Makina Tipi Seçiniz</option>
            <option *ngFor="let machineType of machineTypes" [value]="machineType.name">{{machineType.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="modelName">Model:</label>
        <select id="modelName" name="modelName" class="form-select" #modelName required >
            <option value="" disabled selected>Model Seçiniz</option>
            <option *ngFor="let model of models" [value]="model.name">{{model.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="serialNumber">Seri veya Şasi Namarası :</label>
        <input type="text" id="serialNumber" name="serialNumber" class="form-control" #serialNumber required placeholder="Seri veya Şasi Namarası">
    </div>
    <div class="form-group">
        <label for="quarryName">Çalıştığı Ocak</label>
        <select id="quarryName" name="quarryName" class="form-select" #quarryName required >
            <option value="" disabled selected>Ocak Seçiniz</option>
            <option *ngFor="let quarry of quarries" [value]="quarry.name">{{quarry.name}}</option>
        </select>
    </div>
    <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-warning" style="margin-top: 10px;"
            (click)="addMachine(name,machineTypeName,brandName,modelName,serialNumber,quarryName)">Kaydet</button>
    </div>
</div>
