<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <H2 style="display:flex; justify-content: center; margin: 50px;">Hakedilen İzin Girişi</H2>

    <form [formGroup]="entitledLeaveAddForm" (ngSubmit)="entitledLeaveAdd()">

      <div class="labelsadd" style="display: flex;">
        <div class="col-md-3">
          <label for="employeeId">Personel</label>
        </div>

        <div class="col-md-3">
          <label for="leaveTypeId">İzin Tipi</label>
        </div>

        <div class="col-md-3">
          <label for="entitledDays">Hakedilen Gün Sayısı</label>
        </div>

        <div class="col-md-3">
          <label for="entitledDate">Hakediş Tarihi</label>
        </div>
      </div>

      <div class="formAdd" style="display: flex;">
        <div class="col-md-3">
          <select formControlName="employeeId" id="employeeId" class="form-select">
            <option *ngFor="let employee of employees" [value]="employee.id">{{employee.firstName}}
              {{employee.lastName}}</option>
          </select>
        </div>

        <div class="col-md-3">
          <select formControlName="leaveTypeId" id="leaveTypeId" class="form-select">
            <option *ngFor="let leaveType of leaveTypes" [value]="leaveType.id">{{leaveType.name}}</option>
          </select>
        </div>

        <div class="col-md-3">
          <input type="number" formControlName="entitledDays" id="entitledDays" class="form-control">
        </div>

        <div class="col-md-3">
          <input type="date" formControlName="entitledDate" id="entitledDate" class="form-control">
        </div>

        <button type="submit" class="btn btn-success" style="height: min-content;">Kaydet</button>

      </div>
    </form>


    <H2 style="display:flex; justify-content: center; margin: 50px;">Hakediş Listesi</H2>



    <div class="container">
      <div class="row">
        <!-- Selection Form -->
        <form [formGroup]="selectionForm" class="row">
          <div class="col-md-3">
            <label for="selection">İzin Seçimi:</label>
            <select formControlName="selection" id="selection" class="form-select">
              <option value="">Seçim Yapın</option>
              <option value="entitledLeaves">Hakedilen İzinler</option>
              <option value="usedLeaves">Kullanılan İzinler</option>
            </select>
          </div>
        </form>
    
        <div [formGroup]="selectionForm.get('selection').value === 'entitledLeaves' ? listByEmployeeIdForm : leaveUsageListByEmplooyeIdForm" class="row">
          <div class="col-md-3">
            <label for="employeeSelect" class="form-label">Personel</label>
            <select formControlName="employeeId" class="form-select" id="employeeSelect">
              <option value="">Personel Seçin</option>
              <option *ngFor="let employee of employees" [value]="employee.id">{{employee.firstName}} {{employee.lastName}}</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="leaveTypeSelect" class="form-label">İzin Tipi</label>
            <select formControlName="leaveTypeId" class="form-select" id="leaveTypeSelect">
              <option value="">Tümü</option>
              <option *ngFor="let leaveType of leaveTypes" [value]="leaveType.id">{{leaveType.name}}</option>
            </select>
          </div>
    
          <div class="col-md-3" *ngIf="selectionForm.get('selection').value === 'usedLeaves'">
            <label for="usageDate" class="form-label">Başlangıç Tarihi</label>
            <input type="date" formControlName="usageDate" class="form-control" id="usageDate">
          </div>
    
          <div class="col-md-2">
            <label for="sortDirection" class="form-label">Sıralama</label>
            <select formControlName="sortDirection" class="form-select" id="sortDirection">
              <option value="asc">Eskiden Yeniye</option>
              <option value="desc">Yeniden Eskiye</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    
    <div>

      <div *ngIf="selectionForm.get('selection').value === 'entitledLeaves' && pagedEntitledLeave.length > 0"
        class="mt-4">
        <h2>Hakedilen İzinler</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Tarih</th>
              <th>İzin Türü</th>
              <th>Gün Sayısı</th>
              <th *ngIf="remainingDaysForSelectedEmployee >= 0" style="width: 150px;">Mevcut İzin Hakkı:
                {{remainingDaysForSelectedEmployee}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let leave of pagedEntitledLeave">
              <td>{{ leave.entitledDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ leave.leaveTypeName }}</td>
              <td>{{ leave.entitledDays }}</td>
              <td>
                  <button class="btn btn-danger" (click)="deleteEntitledLeave(leave.id)">Sil</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination for Entitled Leaves could go here -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPageNo <= 1">
              <a class="page-link" (click)="changePage(1)">&laquo;</a>
            </li>
            <li class="page-item" [class.disabled]="currentPageNo <= 1">
              <a class="page-link" (click)="changePage(currentPageNo - 1)">Previous</a>
            </li>
            <li class="page-item" *ngFor="let pageNo of pageList" [class.active]="pageNo === currentPageNo">
              <a class="page-link" (click)="changePage(pageNo)">{{ pageNo }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPageNo >= pages">
              <a class="page-link" (click)="changePage(currentPageNo + 1)">Next</a>
            </li>
            <li class="page-item" [class.disabled]="currentPageNo >= pages">
              <a class="page-link" (click)="changePage(pages)">&raquo;</a>
            </li>
          </ul>
        </nav>
      </div>

      <div *ngIf="selectionForm.get('selection').value === 'usedLeaves' && pageLeaveUsage.length > 0" class="mt-4">
        <h2>Kullanılan İzinler</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Çıkış Tarihi</th>
              <th>Dönüş Tarihi</th>
              <th>İzin Türü</th>
              <th>Kullanılan Gün Sayısı</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usage of pageLeaveUsage">
              <td>{{ usage.usageDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ usage.returnDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ usage.leaveTypeName }}</td>
              <td>{{ usage.usedDays }}</td>
            </tr>
          </tbody>
        </table>
        <!-- Pagination for Used Leaves could go here -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPageNo <= 1">
              <a class="page-link" (click)="changePage(1)">&laquo;</a>
            </li>
            <li class="page-item" [class.disabled]="currentPageNo <= 1">
              <a class="page-link" (click)="changePage(currentPageNo - 1)">Previous</a>
            </li>
            <li class="page-item" *ngFor="let pageNo of pageList" [class.active]="pageNo === currentPageNo">
              <a class="page-link" (click)="changePage(pageNo)">{{ pageNo }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPageNo >= pages">
              <a class="page-link" (click)="changePage(currentPageNo + 1)">Next</a>
            </li>
            <li class="page-item" [class.disabled]="currentPageNo >= pages">
              <a class="page-link" (click)="changePage(pages)">&raquo;</a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
    <!-- ------------------------------------------------------------------------- -->



    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">İzin Silinsin mi?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Bu işlemi onaylıyor musunuz?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hayır</button>
            <button id="confirmYes" type="button" class="btn btn-success" data-bs-dismiss="modal">Evet</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>