.page-link {
    cursor: pointer;
    background-color: #ffc107;
    border-color: #fff;
    color: #fff;
}
.page-item :disabled{
    color: #fff;
    
}
.active>.page-link, .page-link.active{
    cursor: default;
    border-color: #fff;
    color: #000000;
}
.disabled>.page-link, .page-link.disabled{
    border-color: #fff;
    color: #000000;
}

.form-group {
    margin-bottom: 10px;
    text-align: end;
    display: flex;
    align-items: center;
}