<div class="row">
    <div class="col-md-8">

        <H2>Mesai Listesi</H2>
     
        <form [formGroup]="listOvertimeForm" (ngSubmit)="getOvertimeListByEmployeeId()">
            <!-- Mevcut form elemanları -->
            <div class="col-md-3">
                <label for="employeeSelect" class="form-label">Personel</label>
                <select formControlName="employeeId" class="form-select" id="employeeSelect">
                    <option value="">Personel Seçin</option>
                    <option *ngFor="let employee of employees" [value]="employee.id">{{employee.firstName}}
                        {{employee.lastName}}</option>
                </select>
            </div>
    
            <div class="col-md-3">
                <label for="startDate" class="form-label">Başlangıç Tarihi</label>
                <input type="date" formControlName="startDate" class="form-control" id="startDate">
            </div>
    
            <div class="col-md-3">
                <label for="endDate" class="form-label">Bitiş Tarihi</label>
                <input type="date" formControlName="endDate" class="form-control" id="endDate">
            </div>
    
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">Sorgula</button>
            </div>
          </form>
          
          <!-- Sonuçları göstermek için tablo -->
          <table class="table" *ngIf="pageOvertime && pageOvertime.length">
            <thead>
              <tr>
                <th>Mesai Tarihi</th>
                <th>Mesai Süresi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let overtime of pageOvertime">
                <td>{{ overtime.overtimeDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ overtime.overtimeHours }}</td>
              </tr>
            </tbody>
          </table>
          
        <!-- Pagination for Entitled Leaves could go here -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="currentPageNo <= 1">
                    <a class="page-link" (click)="changePage(1)">&laquo;</a>
                </li>
                <li class="page-item" [class.disabled]="currentPageNo <= 1">
                    <a class="page-link" (click)="changePage(currentPageNo - 1)">Previous</a>
                </li>
                <li class="page-item" *ngFor="let pageNo of pageList" [class.active]="pageNo === currentPageNo">
                    <a class="page-link" (click)="changePage(pageNo)">{{ pageNo }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPageNo >= pages">
                    <a class="page-link" (click)="changePage(currentPageNo + 1)">Next</a>
                </li>
                <li class="page-item" [class.disabled]="currentPageNo >= pages">
                    <a class="page-link" (click)="changePage(pages)">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>