.page-link {
    background-color: #ffc107;
    border-color: #fff;
    color: black;
}
.page-item :disabled{
    color: #fff;
    
}
.active>.page-link, .page-link.active{
    
    border-color: #fff;
    color: white;
}
.disabled>.page-link, .page-link.disabled{
    border-color: #fff;
    color: white;
}