<div class="flex-shrink-0 p-3" style="width: 280px;">
  
  <ul class="list-unstyled ps-0">
    <li class="mb-1" *ngFor="let item of items">
      
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
              [attr.aria-expanded]="item.isCollapsed ? 'false' : 'true'"
              (click)="toggleCollapse(item)">
              <div id="minisvg">
                <ng-container *ngIf="item.name === 'Yetkili Kullanıcılar'">
                  <img src="../../../../../assets/icons/authorizedPersonnel-mini.svg" >
                </ng-container>

              <ng-container *ngIf="item.name === 'Çalışanlar'">
                <img src="../../../../../assets/icons/employee-mini.svg" >
              </ng-container>

              <ng-container *ngIf="item.name === 'Gösterge Paneli'">
                <img src="../../../../../assets/icons/dashboard-mini.svg">
              </ng-container>

              <ng-container *ngIf="item.name === 'Makinalar'">
                <img src="../../../../../assets/icons/machines-mini.svg" >
              </ng-container>

              <ng-container *ngIf="item.name === 'Departmanlar'">
                <img src="../../../../../assets/icons/machines-mini.svg" >
              </ng-container>

              <ng-container *ngIf="item.name === 'Meslekler'">
                 <img src="../../../../../assets/icons/machines-mini.svg" >
              </ng-container>

              <ng-container *ngIf="item.name === 'Ocaklar'">
                <img src="../../../../../assets/icons/machines-mini.svg" >
             </ng-container>

              <ng-container *ngIf="item.name === 'Markalar'">
                <img src="../../../../../assets/icons/machines-mini.svg" >
             </ng-container>

             <ng-container *ngIf="item.name === 'Modeller'">
              <img src="../../../../../assets/icons/machines-mini.svg" >
           </ng-container>
              
              <ng-container *ngIf="item.name === 'Makina Tipleri'">
                <img src="../../../../../assets/icons/machines-mini.svg" >
             </ng-container>
              
            </div>
        {{ item.name }}
        
      </button>
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" *ngIf="!item.isCollapsed">
        <li *ngIf="item.name === 'Yetkili Kullanıcılar'"><a routerLink="users" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Kullanıcı Listesi</a></li>
        <li *ngIf="item.name === 'Yetkili Kullanıcılar'"><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
        <li *ngIf="item.name === 'Yetkili Kullanıcılar'"><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>

        <li *ngIf="item.name === 'Çalışanlar'"><a routerLink="employees" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Çalışan</a></li>

        <li *ngIf="item.name === 'Gösterge Paneli'"><a routerLink="dashboard" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Gösterge Paneli</a></li>

        <li *ngIf="item.name === 'Makinalar'"><a routerLink="machines/machine-list" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Makina Listesi</a></li>
        <li *ngIf="item.name === 'Makinalar'"><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded" data-bs-toggle="modal" data-bs-target="#machineAddModal">Makina Ekle</a></li>

        <li *ngIf="item.name === 'Ocaklar'"><a routerLink="quarries/quarry-list" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ocak Listesi</a></li>
        <li *ngIf="item.name === 'Ocaklar'"><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded" data-bs-toggle="modal" data-bs-target="#quarryAddModal">Ocak Ekle</a></li>

        <li *ngIf="item.name === 'Markalar'"><a routerLink="brands/brand-list" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Marka Listesi</a></li>
        <li *ngIf="item.name === 'Markalar'"><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded" data-bs-toggle="modal" data-bs-target="#brandAddModal">Marka Ekle</a></li>

        <li *ngIf="item.name === 'Modeller'"><a routerLink="models/model-list" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Model Listesi</a></li>
        <li *ngIf="item.name === 'Modeller'"><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded" data-bs-toggle="modal" data-bs-target="#modelAddModal">Model Ekle</a></li>

        <li *ngIf="item.name === 'Makina Tipleri'"><a routerLink="machine-types/machine-type-list" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Makina Tipi Listesi</a></li>
        <li *ngIf="item.name === 'Makina Tipleri'"><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded" data-bs-toggle="modal" data-bs-target="#machineTypeAddModal">Makina Tipi Ekle</a></li>

        <li *ngIf="item.name === 'Departmanlar'"><a routerLink="department/department-list" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Departman Listesi</a></li>
        <li *ngIf="item.name === 'Departmanlar'"><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded" data-bs-toggle="modal" data-bs-target="#departmentAddModal">Departman Ekle</a></li>

        <li *ngIf="item.name === 'Meslekler'"><a routerLink="jobs/job-list" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Meslek Listesi</a></li>
        <li *ngIf="item.name === 'Meslekler'"><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded" data-bs-toggle="modal" data-bs-target="#jobAddModal">Meslek Ekle</a></li>
      </ul>
    </li>
    <li class="border-top my3"></li>
  </ul>
</div>

<div class="modal fade" id="jobAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Meslek Ekle</h1>
      </div>
      <div class="modal-body" style="padding-bottom: 1px;">
        <app-job-add></app-job-add>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="departmentAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Departman Ekle</h1>
      </div>
      <div class="modal-body" style="padding-bottom: 1px;">
        <app-department-add></app-department-add>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="machineAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Makina Ekle</h1>
      </div>
      <div class="modal-body" style="padding-bottom: 1px;">
        <app-machine-add></app-machine-add>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="quarryAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ocak Ekle</h1>
      </div>
      <div class="modal-body" style="padding-bottom: 1px;">
        <app-quarry-add></app-quarry-add>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="brandAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Marka Ekle</h1>
      </div>
      <div class="modal-body" style="padding-bottom: 1px;">
        <app-brand-add></app-brand-add>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modelAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Model Ekle</h1>
      </div>
      <div class="modal-body" style="padding-bottom: 1px;">
        <app-model-add></app-model-add>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="machineTypeAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Makina Tipi Ekle</h1>
      </div>
      <div class="modal-body" style="padding-bottom: 1px;">
        <app-machine-type-add></app-machine-type-add>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
