<div class="row" id="main">
  <!-- <div class="col-md-12">
    <input type="text" class="form-control" placeholder="Ara..." (input)="searchEmployees($event)">
  </div> -->
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <div class="input-container" style="margin-bottom: 20px; width: 400px;">
        <input type="text" class="form-control" placeholder="Ara..." (input)="searchEmployees($event)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
    </div>
    <table class="table table-striped ">
      <thead>
        <tr class="table-warning">
          <th>No</th>
          <th>Adı</th>
          <th>Soyadı</th>
          <th>Mesleği</th>
          <th>Çalıştığı Ocak</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index" (click)="goToEmployeePage(item.id)">
          <td>{{ i + 1 }}</td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.jobName }}</td>
          <td>{{ item.quarryName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="items.length === 0" class="col-md-8">
    <p>Bu ifadeye uygun personel bulunamadı.</p>
  </div>
  <div class="col-md-2"></div>
</div>