.input{
  background-color: rgba(224, 201, 103, 0.33);
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #ffc107;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ffc1074a;
} /* You can add global styles to this file, and also import other style files */

.form-select:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #ffc107;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ffc1074a;
}
.dropdown-item{
  color: #003353 ;
}

.dropdown-item:active {
  text-decoration: none;
  background-color: #ffc107;
}

.dropdown-menu {
  border-radius: 10%;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(5px, 38px, 0px) !important;
  background-color: #ffcd39;
  color: #003353;
}
.dropdown-item:hover{
  background-color: #dea702;
  color: #003353;
}



.link-secondary {
    color: wheat !important;
}
.link-secondary:hover{
    color: #ffc107 !important;
}

.btn-primary {
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px; */
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px,
   rgba(253, 253, 253, 0.5) 5px 10px 15px;
}
.btn-primary:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px,
      rgba(2, 111, 245, 0.378) 5px 5px 15px;
  
}
.btn-danger {
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px; */
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px,
   rgba(253, 253, 253, 0.5) 5px 10px 15px;
}
.btn-danger:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px,
      rgba(253, 31, 1, 0.378) 5px 5px 15px;
  
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

